.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#666666;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 10px solid #4aaaa5;
    
 }

#book, #cake, #cat, #paint {
    position: relative;
    top: -65px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20pt;
}

#name {
   background-color: #4aaaa5;
   color: white;
   font-family: 'Georgia', Times, Times New Roman, serif;
   font-size: 30pt;
   font-weight: bold;
   ;

}
.title {
    color: #4aaaa5 ;
    font-size: 30pt;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}
.pic {
    margin-right: 20pt;
}

.container {
    background-color: #ffffff;
    padding: 20pt;
}
.btn-primary {
    background-color:#4aaaa5 !important ;
}

body{
    background-image: url("Assets\images\watercolor.png");
    background-color: thistle;
}

.navbar-default {
    background-color: #ffffff;
}